@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	background: url('/img/olgbg.jpg') repeat center center;
	background-size: cover;
}

h1	{
	font-size: 2rem;
}

.bg-gray-100{
	background-color: #0000006e;
}

.tab-content {
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 15px;
}